# تأكيد الذات

# EN: self-verification

# FR: vérification de soi
